<script type="text/javascript" src="/static/js/pages/eventContentScript/rcBuild.js"></script>

<div id="J_RCBuildTemplate" class="hidden">
	<blockquote>
			<h3 class='lead text-info'>亲爱的小伙伴们，我们的应用进入RC阶段了，做最后的冲刺，把Bug统统消灭掉。</h3>
	</blockquote>
 	<div class=''>请扫描二维码：</div>
	<div>
	<div class='lead'>你可以进行的操作：</div>
    <button class='btn  btn-primary' id="J_rcBuildButton" data-project-id="__project_id__" data-category="__category__">打RC包 &nbsp;<span class='icon-arrow-right'></span></button>
    </div>
</div>