body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_menu {
    background-image: url('../projectList_files/u0_menu.png');
}

.u0_menu {
    position:absolute;
    left:170px;
    top:21px;
    width:315px;
    height:35px;
}

#u0_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u1 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u2_normal {
    background-image: url('../projectList_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../projectList_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../projectList_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:13px;
    top:30px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../projectList_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:823px;
    height:3px;
}

.u9 {
    position:absolute;
    left:13px;
    top:55px;
    width:823px;
    height:10px;
    
}

#u10 {
    position:absolute;
    left:13px;
    top:132px;
    width:727px;
    height:310px
}

.u11_normal {
    background-image: url('../projectList_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:34px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:40px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../projectList_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:100px;
    top:0px;
    width:131px;
    height:34px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:40px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:127px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../projectList_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:231px;
    top:0px;
    width:100px;
    height:34px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:40px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../projectList_files/u11_normal.png');
}

.u17_container {
    position:absolute;
    left:331px;
    top:0px;
    width:100px;
    height:34px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:40px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../projectList_files/u11_normal.png');
}

.u19_container {
    position:absolute;
    left:431px;
    top:0px;
    width:100px;
    height:34px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:40px;
}

.u20 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../projectList_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:531px;
    top:0px;
    width:191px;
    height:34px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:40px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:187px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../projectList_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:34px;
    width:100px;
    height:37px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u24 {
    position:absolute;
    left:2px;
    top:11px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../projectList_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:100px;
    top:34px;
    width:131px;
    height:37px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:43px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:127px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../projectList_files/u23_normal.png');
}

.u27_container {
    position:absolute;
    left:231px;
    top:34px;
    width:100px;
    height:37px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u28 {
    position:absolute;
    left:2px;
    top:11px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../projectList_files/u23_normal.png');
}

.u29_container {
    position:absolute;
    left:331px;
    top:34px;
    width:100px;
    height:37px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u30 {
    position:absolute;
    left:2px;
    top:11px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../projectList_files/u23_normal.png');
}

.u31_container {
    position:absolute;
    left:431px;
    top:34px;
    width:100px;
    height:37px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u32 {
    position:absolute;
    left:2px;
    top:11px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../projectList_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:531px;
    top:34px;
    width:191px;
    height:37px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:43px;
}

.u34 {
    position:absolute;
    left:2px;
    top:10px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../projectList_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:71px;
    width:100px;
    height:41px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:47px;
}

.u36 {
    position:absolute;
    left:2px;
    top:13px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../projectList_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:100px;
    top:71px;
    width:131px;
    height:41px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:47px;
}

.u38 {
    position:absolute;
    left:2px;
    top:14px;
    width:127px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../projectList_files/u35_normal.png');
}

.u39_container {
    position:absolute;
    left:231px;
    top:71px;
    width:100px;
    height:41px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:47px;
}

.u40 {
    position:absolute;
    left:2px;
    top:13px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../projectList_files/u35_normal.png');
}

.u41_container {
    position:absolute;
    left:331px;
    top:71px;
    width:100px;
    height:41px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:47px;
}

.u42 {
    position:absolute;
    left:2px;
    top:13px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../projectList_files/u35_normal.png');
}

.u43_container {
    position:absolute;
    left:431px;
    top:71px;
    width:100px;
    height:41px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:47px;
}

.u44 {
    position:absolute;
    left:2px;
    top:13px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../projectList_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:531px;
    top:71px;
    width:191px;
    height:41px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:47px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../projectList_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:112px;
    width:100px;
    height:46px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:52px;
}

.u48 {
    position:absolute;
    left:2px;
    top:16px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../projectList_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:100px;
    top:112px;
    width:131px;
    height:46px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:52px;
}

.u50 {
    position:absolute;
    left:2px;
    top:16px;
    width:127px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../projectList_files/u47_normal.png');
}

.u51_container {
    position:absolute;
    left:231px;
    top:112px;
    width:100px;
    height:46px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:52px;
}

.u52 {
    position:absolute;
    left:2px;
    top:16px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../projectList_files/u47_normal.png');
}

.u53_container {
    position:absolute;
    left:331px;
    top:112px;
    width:100px;
    height:46px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:52px;
}

.u54 {
    position:absolute;
    left:2px;
    top:16px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../projectList_files/u47_normal.png');
}

.u55_container {
    position:absolute;
    left:431px;
    top:112px;
    width:100px;
    height:46px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:52px;
}

.u56 {
    position:absolute;
    left:2px;
    top:16px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../projectList_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:531px;
    top:112px;
    width:191px;
    height:46px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:52px;
}

.u58 {
    position:absolute;
    left:2px;
    top:15px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../projectList_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:158px;
    width:100px;
    height:53px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u60 {
    position:absolute;
    left:2px;
    top:19px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../projectList_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:100px;
    top:158px;
    width:131px;
    height:53px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:59px;
}

.u62 {
    position:absolute;
    left:2px;
    top:20px;
    width:127px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../projectList_files/u59_normal.png');
}

.u63_container {
    position:absolute;
    left:231px;
    top:158px;
    width:100px;
    height:53px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u64 {
    position:absolute;
    left:2px;
    top:19px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../projectList_files/u59_normal.png');
}

.u65_container {
    position:absolute;
    left:331px;
    top:158px;
    width:100px;
    height:53px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u66 {
    position:absolute;
    left:2px;
    top:19px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../projectList_files/u59_normal.png');
}

.u67_container {
    position:absolute;
    left:431px;
    top:158px;
    width:100px;
    height:53px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u68 {
    position:absolute;
    left:2px;
    top:19px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../projectList_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:531px;
    top:158px;
    width:191px;
    height:53px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:59px;
}

.u70 {
    position:absolute;
    left:2px;
    top:18px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../projectList_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:211px;
    width:100px;
    height:52px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u72 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../projectList_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:100px;
    top:211px;
    width:131px;
    height:52px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:58px;
}

.u74 {
    position:absolute;
    left:2px;
    top:20px;
    width:127px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../projectList_files/u71_normal.png');
}

.u75_container {
    position:absolute;
    left:231px;
    top:211px;
    width:100px;
    height:52px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u76 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../projectList_files/u71_normal.png');
}

.u77_container {
    position:absolute;
    left:331px;
    top:211px;
    width:100px;
    height:52px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u78 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../projectList_files/u71_normal.png');
}

.u79_container {
    position:absolute;
    left:431px;
    top:211px;
    width:100px;
    height:52px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u80 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../projectList_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:531px;
    top:211px;
    width:191px;
    height:52px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:58px;
}

.u82 {
    position:absolute;
    left:2px;
    top:18px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../projectList_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:263px;
    width:100px;
    height:42px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:48px;
}

.u84 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../projectList_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:100px;
    top:263px;
    width:131px;
    height:42px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:48px;
}

.u86 {
    position:absolute;
    left:2px;
    top:14px;
    width:127px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../projectList_files/u83_normal.png');
}

.u87_container {
    position:absolute;
    left:231px;
    top:263px;
    width:100px;
    height:42px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:48px;
}

.u88 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../projectList_files/u83_normal.png');
}

.u89_container {
    position:absolute;
    left:331px;
    top:263px;
    width:100px;
    height:42px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:48px;
}

.u90 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../projectList_files/u83_normal.png');
}

.u91_container {
    position:absolute;
    left:431px;
    top:263px;
    width:100px;
    height:42px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:48px;
}

.u92 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../projectList_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:531px;
    top:263px;
    width:191px;
    height:42px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:48px;
}

.u94 {
    position:absolute;
    left:2px;
    top:13px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:50px;
    top:81px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../projectList_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:13px;
    top:75px;
    width:27px;
    height:27px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u97 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:586px;
    top:172px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u99 {
    position:absolute;
    left:586px;
    top:214px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u100 {
    position:absolute;
    left:586px;
    top:258px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101 {
    position:absolute;
    left:586px;
    top:306px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102 {
    position:absolute;
    left:586px;
    top:357px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u103 {
    position:absolute;
    left:586px;
    top:405px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104_line {
    background-image: url('../projectList_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:0px;
    top:4px;
    width:789px;
    height:3px;
}

.u104 {
    position:absolute;
    left:13px;
    top:468px;
    width:789px;
    height:10px;
    
}

.u105 {
    position:absolute;
    left:13px;
    top:494px;
    width:483px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

