body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_menu {
    background-image: url('../Home_files/u0_menu.png');
}

.u0_menu {
    position:absolute;
    left:170px;
    top:21px;
    width:315px;
    height:35px;
}

#u0_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u1 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u2_normal {
    background-image: url('../Home_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Home_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Home_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:13px;
    top:30px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Home_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:13px;
    top:79px;
    width:245px;
    height:136px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:251px;
    height:142px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:241px;
    height:105px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:13px;
    top:236px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../Home_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:823px;
    height:3px;
}

.u12 {
    position:absolute;
    left:13px;
    top:55px;
    width:823px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:13px;
    top:268px;
    width:201px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:13px;
    top:293px;
    width:201px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:13px;
    top:321px;
    width:201px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:13px;
    top:346px;
    width:201px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Home_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:299px;
    top:79px;
    width:503px;
    height:282px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:509px;
    height:288px;
}

.u18 {
    position:absolute;
    left:2px;
    top:54px;
    width:499px;
    height:173px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../Home_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:789px;
    height:3px;
}

.u19 {
    position:absolute;
    left:13px;
    top:394px;
    width:789px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:13px;
    top:420px;
    width:483px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

