@CHARSET "UTF-8";
.clr {
	
	
}

.table{ 
    word-wrap:break-word;
    }

td {
    word-wrap:break-word;
    border-color: #e3e3e3;
}

.table th {
    border-color: #e3e3e3;
    background:#F7F7F0;
}
