@CHARSET "UTF-8";
.clr {
	
	
}


tr.break td {
    word-break:break-all;
    word-wrap:break-word;
    border-color: #e3e3e3;
}

.table th {
    border-color: #e3e3e3;
    background:#F7F7F0;
}
li{
    list-style:none;
    text-align:inherit;
}


ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
    margin-top: -3px;
    margin-left: 10px;
}

a.menu:after,.dropdown-toggle:after {
    content: none;
}
