## base.html
<%!
import sys
default_encoding = 'utf-8'
if sys.getdefaultencoding() != default_encoding:
    reload(sys)
    sys.setdefaultencoding(default_encoding)
%>
<%
if data == None:
    return "";
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>Puzzle - 安居客移动协作平台 </title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/static/css/bootstrap.css" rel="stylesheet">

        <style type="text/css">
            body {
                padding-top:60px;
                padding-bottom:40px;
            }

            .sidebar-nav {
                padding: 9px 0;
            }
        </style>

        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">

        <!--[if lt IE9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- jQuery -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <link href="/static/js/plugins/jquery-ui/css/smoothness/jquery-ui.min.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/plugins/jquery-ui/js/jquery-ui.min.js"></script>

        <!-- jQuery cookie -->
        <script type="text/javascript" src="/static/js/plugins/jquery-cookie/jquery.cookie.js"></script>

        <!-- JGrowl -->
        <link href="/static/js/plugins/jgrowl/jquery.jgrowl.min.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/plugins/jgrowl/jquery.jgrowl.min.js"></script>
        <script type="text/javascript" src="/static/js/pages/common/notice.js"></script>

        <!-- colorbox -->
        <link href="/static/js/plugins/colorbox/colorbox.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/plugins/colorbox/jquery.colorbox-min.js"></script>

        <!-- tinytips -->
        <link href="/static/js/plugins/tinytip/tinyTips.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/plugins/tinytip/jquery.tinyTips.js"></script>

	 	${self.header()}
    </head>

    <body>
        <div class = "navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class = "btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

                    <a class = "brand" href="#">Puzzle - 安居客移动协作平台</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                        Logged in as <a href="#" class="navbar-link">LenyeMeng</a>
                        </p>
                        <ul class="nav">

                            <%def name="generateNavigation()"> 
                            <%
                            navData = [
                            ["Home","/index"],
                            ["Project","/project"],
                     
                            ['UIComponent',"/mobileUi"],
                            ["AboutUs","/aboutUs"],
                            ]
                            %>

                            % for item in navData:
                            <li class="
                            % if data['pageIndex'].lower() == item[0].lower():
                            active
                            % endif
                            ">
                            <a href="${item[1]}">${item[0]}</a>
                            </li>
                            % endfor    
                            </%def>

                            ${generateNavigation()}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        ${self.body()}

    </div>
    <footer>
    <p>&copy; Anjuke Inc iOS Development Department 2013</p>
    </footer>
</body>
</html>
