<%inherit file='base.html'/>
<%block name="header">
<script type="text/javascript" src="/static/js/bootstrap-carousel.js"></script>
<script type="text/javascript">
function random(dayseed, indexseed) {
	var n = dayseed % 11117;
	for (var i = 0; i < 100 + indexseed; i++) {
		n = n * n;
		n = n % 11117;   // 11117 是个质数
	}
	return n;
}

var today = new Date();
var iday = today.getFullYear() * 10000 + (today.getMonth() + 1) * 100 + today.getDate();

var weeks = ["日","一","二","三","四","五","六"];
var directions = ["北方","东北方","东方","东南方","南方","西南方","西方","西北方"];
var activities = [
	{name:"写单元测试", good:"写单元测试将减少出错",bad:"写单元测试会降低你的开发效率"},
	{name:"洗澡", good:"请用雕牌洗衣粉",bad:"会把你的灵感洗掉", weekend: true},
	{name:"锻炼一下身体", good:"锻炼身体有利于更勇猛的撸管",bad:"能量没消耗多少，吃得却更多", weekend: true},
	{name:"抽烟", good:"抽烟有利于提神，增加思维敏捷度",bad:"除非你活够了，死得早点没关系", weekend: true},
	{name:"白天上线", good:"今天白天上线是安全的",bad:"你会发现你的号被盗了"},
	{name:"重构", good:"CPU终于不100%了",bad:"你会发现你的上任没留下源代码"},
	{name:"使用%t", good:"你看起来更有品位",bad:"别人会觉得你在装逼"},
	{name:"跳槽", good:"跳槽一定要果断",bad:"下一个单位会忙得让你撸管的时间都没有"},
	{name:"招人", good:"你遇到千里马的可能性大大增加",bad:"会招到人妖的可能性很大"},
	{name:"面试", good:"面试官今天心情很好",bad:"面试官不爽，会拿你出气"},
	{name:"提交辞职申请", good:"公司找到了一个比你更能干更便宜的家伙，巴不得你赶快滚蛋",bad:"你下一份工作的老板是同性恋"},
	{name:"申请加薪", good:"老板做完很和谐",bad:"老板娘出轨了"},
	{name:"晚上加班", good:"晚上是程序员精神最好的时候",bad:"", weekend: true},
	{name:"在妹子面前吹牛", good:"改善你矮穷挫的形象",bad:"妹子比你还会吹", weekend: true},
	{name:"撸管", good:"避免缓冲区溢出",bad:"撸不出不能怪飞机", weekend: true},
	{name:"浏览岛国的网站", good:"重拾对生活的信心",bad:"你会心神不宁", weekend: true},
	{name:"命名变量\"%v\"", good:"",bad:""},
	{name:"写超过%l行的方法", good:"你的代码组织的很好，长一点没关系",bad:"你的代码将混乱不堪，你自己都看不懂"},
	{name:"提交代码", good:"遇到冲突的几率是最低的",bad:"你遇到的一大堆冲突会让你觉得自己是不是时间穿越了"},
	{name:"代码复审", good:"发现重要问题的几率大大增加",bad:"你什么问题都发现不了，白白浪费时间"},
	{name:"开会", good:"写代码之余放松一下打个盹，有益健康",bad:"你会被扣屎盆子背黑锅"},
	{name:"打DOTA", good:"你将超神至少十次,建议用剑圣",bad:"你会死的超鬼", weekend: true},
	{name:"晚上上线", good:"晚上是程序员精神最好的时候",bad:"熬夜会猝死"},
	{name:"修复BUG", good:"你今天对BUG的嗅觉大大提高",bad:"新产生的BUG将比修复的更多"},
	{name:"设计评审", good:"设计评审会议将变成头脑风暴",bad:"人人筋疲力尽，评审就这么过了"},
	{name:"需求评审", good:"",bad:""},
	{name:"上微博", good:"你的好友今天会告诉你好消息",bad:"会看到气死你的新闻", weekend: true},
	{name:"上AB站", good:"还需要理由吗？",bad:"满屏的兄贵我会说出来？", weekend: true}
];

var specials = [
	{date:20130221, type:'good', name:'防核演习', description:'万一哪个疯子丢颗核弹过来...'}
];

var tools = ["Eclipse写程序", "MSOffice写文档", "记事本写程序", "Windows8", "Linux", "MacOS", "IE", "Android设备", "iOS设备"];

var varNames = ["jieguo", "huodong", "pay", "expire", "zhangdan", "every", "free", "i1", "a", "virtual", "ad", "spider", "mima", "pass", "ui"];

var drinks = ["水","茶","红茶","绿茶","咖啡","奶茶","可乐","牛奶","豆奶","果汁","果味汽水","苏打水","运动饮料","酸奶","酒"];

function getTodayString() {
	return "今天是" + today.getFullYear() + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日 星期" + weeks[today.getDay()];
}

// 生成今日运势
function pickTodaysLuck() {
    var _activities = filter(activities);

	var numGood = random(iday, 98) % 3 + 2;
	var numBad = random(iday, 87) % 3 + 2;
	var eventArr = pickRandomActivity(_activities, numGood + numBad);

	var specialSize = pickSpecials();

	for (var i = 0; i < numGood; i++) {
		addToGood(eventArr[i]);
	}

	for (var i = 0; i < numBad; i++) {
		addToBad(eventArr[numGood + i]);
	}
}

// 去掉一些不合今日的事件
function filter(activities) {
    var result = [];

    // 周末的话，只留下 weekend = true 的事件
    if (isWeekend()) {

        for (var i = 0; i < activities.length; i++) {
            if (activities[i].weekend) {
                result.push(activities[i]);
            }
        }

        return result;
    }

    return activities;
}

function isWeekend() {
    return today.getDay() == 0 || today.getDay() == 6;
}

// 添加预定义事件
function pickSpecials() {
	var specialSize = [0,0];

	for (var i = 0; i < specials.length; i++) {
		var special = specials[i];

		if (iday == special.date) {
			if (special.type == 'good') {
				specialSize[0]++;
				addToGood({name: special.name, good: special.description});
			} else {
				specialSize[1]++;
				addToBad({name: special.name, bad: special.description});
			}
		}
	}

	return specialSize;
}

// 从 activities 中随机挑选 size 个
function pickRandomActivity(activities, size) {
	var picked_events = pickRandom(activities, size);

	for (var i = 0; i < picked_events.length; i++) {
		picked_events[i] = parse(picked_events[i]);
	}

	return picked_events;
}

// 从数组中随机挑选 size 个
function pickRandom(array, size) {
	var result = [];

	for (var i = 0; i < array.length; i++) {
		result.push(array[i]);
	}

	for (var j = 0; j < array.length - size; j++) {
		var index = random(iday, j) % result.length;
		result.splice(index, 1);
	}

	return result;
}

// 解析占位符并替换成随机内容
function parse(event) {
	var result = {name: event.name, good: event.good, bad: event.bad};  // clone

	if (result.name.indexOf('%v') != -1) {
		result.name = result.name.replace('%v', varNames[random(iday, 12) % varNames.length]);
	}

	if (result.name.indexOf('%t') != -1) {
		result.name = result.name.replace('%t', tools[random(iday, 11) % tools.length]);
	}

	if (result.name.indexOf('%l') != -1) {
		result.name = result.name.replace('%l', (random(iday, 12) % 247 + 30).toString());
	}

	return result;
}

// 添加到“宜”
function addToGood(event) {
	$('.good .content ul').append('<li><div class="name">' + event.name + '</div><div class="description">' + event.good + '</div></li>');
}

// 添加到“不宜”
function addToBad(event) {
	$('.bad .content ul').append('<li><div class="name">' + event.name + '</div><div class="description">' + event.bad + '</div></li>');
}

$(function(){
	$('.date').html(getTodayString());
	$('.direction_value').html(directions[random(iday, 2) % directions.length]);
	$('.drink_value').html(pickRandom(drinks,2).join());
	$('.goddes_value').html(random(iday, 6) % 50 / 10.0);
	pickTodaysLuck();
});
 </script>
<style>
    .date{
	font-size:17pt;
	font-weight: bold;
	line-height: 30pt;
	text-align: center;
}

.split, .clear {
	clear: both;
	height: 1px;
	overflow-y: hidden;
}

.good, .bad {
	clear: both;
	position: relative;
}

.bad {
	/*top: -1px;*/
}

.good .title, .bad .title {
	float: left;
	width: 100px;
	font-weight: bold;
	text-align: center;
	font-size: 30pt;
	position:absolute;
	top:0;
	bottom:0;
}

.good .title>table, .bad .title>table {
	position:absolute;
	width:100%;
	height:100%;
	border:none;
}

.good .title {
	background: #ffee44;
}

.bad .title {
	background: #ff4444;
	color: #fff;
}

.good .content, .bad .content {
	margin-left: 115px;
	padding-right: 10px;
	padding-top: 1px;
	font-size:15pt;
}

.good {
	background: #ffffaa;
}

.bad {
	background: #ffddd3;
}

.content ul {
	list-style: none;
	margin:10px 0 0;
	padding:0;
}

.content ul li {
	line-height:150%;
	font-size: 15pt;
	font-weight: bold;
	color: #444;
}

.content ul li div.description {
	font-size: 11pt;
	font-weight: normal;
	color: #777;
	line-height: 110%;
	margin-bottom: 10px;
}

.line-tip {
	font-size: 11pt;
	margin-top: 10px;
	margin-left: 10px;
}

.direction_value {
	color:#4a4;
	font-weight: bold;
}

.comment {
	margin-top: 50px;
	font-size: 11pt;
	margin-left: 10px;
}

.comment ul {
	margin-left: 0;
	padding-left: 20px;
	color: #999;
}
</style>
</style>
</%block>
<%block name="body">
    <div class="row-fluid">
        <div class="span6 offset1">
                <div class="searchInput">
                    <h4><span class="icon-globe"></span>快捷搜索</h4><br/>
                    <form class="form-search">
                        <input type="text" class="input-large search-query search-input" />
                        <button type="submit" onclick="alert('上当了吧？功能还未完善，请勿胡乱点击！ps.我希望这是个万能的框，谁能帮助实现。');" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class="row-fluid">
                
                <div class="friendlink span8"><br/>
                    <table class="table">
                        <tr>
                            <td>
                                <button class="win-command" rel="tootlip" title="PMT" onclick="window.location.href='http://pmt.corp.anjuke.com'">
                                <span class="win-commandicon win-commandring icon-cog-4"></span>
                                <span class="win-label">PMT-项目管理工具</span>
                                </button>
                            </td>
                            <td>
                                <button class="win-command" rel="tootlip" title="PMT"  onclick="window.location.href='http://git.corp.anjuke.com/mobile/iShare'">
                                <span class="win-commandicon win-commandring icon-feather"></span>
                                <span class="win-label">iShare-移动分享平台</span>
                                </button>
                            </td>
                            <td>
                                <button class="win-command" rel="tootlip" title="PMT" onclick="window.location.href='http://wp.ios.dev.anjuke.com/'">
                                <span class="win-commandicon win-commandring icon-graduation"></span>
                                <span class="win-label">Blog-技术信息园地</span>
                                </button>
                            </td>
                            <td>
                                <button class="win-command" rel="tootlip" title="PMT" onclick="window.location.href='/whereIsMengZhi'">
                                  <span><img src="http://home.corp.anjuke.com/headpic/SHD1059/small.jpg"></img></span>
                                <span class="win-label">孟智在哪儿</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
        </div>
        <div class="span4">
        <div class="title">
				移动开发程序员老黄历<sup>beta</sup>
			</div>
			<div class="date">
			</div>
			<div class="good">
				<div class="title">
					<table>
						<tr><td>宜</td></tr>
					</table>
				</div>
				<div class="content">
					<ul></ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="split"></div>
			<div class="bad">
				<div class="title">
					<table>
						<tr><td>不宜</td></tr>
					</table>
				</div>
				<div class="content">
					<ul></ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="split"></div>
			<div class="line-tip">
				<strong>座位朝向：</strong>面向<span class="direction_value"></span>写程序，BUG 最少。
			</div>
			<div class="line-tip">
				<strong>今日宜饮：</strong><span class="drink_value"></span>
			</div>
			<div class="line-tip">
				<strong>女神亲近指数：</strong><span class="goddes_value"></span>
			</div>
            <!--
            <div class="bs-docs-example">
                <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="3" class=""></li>

                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="../static/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                            <div class="carousel-caption">
                                <h4>我们的团队</h4>
                                <p>我们的团队由一群热情、可爱、聪明、饱含创造力的年轻人组成，我们开心，为我们的朋友欢呼；我们进取，为我们完成的每一个产品</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../static/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                            <div class="carousel-caption">
                                <h4>我们的工作</h4>
                                <p>我们开发5款iPhone应用、5款android应用，同时还负责3款iPad应用，我们保证我们产品的质量，让用户更加喜欢我们的产品</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../static/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
                            <div class="carousel-caption">
                                <h4>我们的创意</h4>
                                <p>我们热爱创意，愿意用我们的大脑改变人的生活，改变这个世界</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../static/img/bootstrap-mdo-sfmoma-04.jpg" alt="">
                            <div class="carousel-caption">
                                <h4>路还很长</h4>
                                <p>我们面前的路还很长，我们还需要更多的努力，小伙伴们，加油！</p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
                </div>
            </div>
            <-->
        </div>
    </div>
    <hr/>
</%block>

