<%inherit file='base.html'/>
<%block name="header">
<script src="/static/js/pages/monitor_detail.js"></script>
<script src="/static/js/highcharts.js"></script>
</%block>

<%block name='body'>

<div class="container">
  <div id="monitor-container" class="span12 awesome-box content-box container">


    <div class="tab-content">
      <div class="tab-pane active">


        <div class="chartlist">
          % if data['apps']:
          <ul id="monitor_charts" >
            % for key in data['apps']:
              <% item = data['apps'][key]%>
            <li style="list-style-type:none;float:left;margin-left: 50px;margin-bottom: 50px">
              <div style="text-align: center;">${item['app_name']}${item['app_platform']}</div>
              <a href="/monitor/detail?app_name=${item['app_name']}&app_platform=${item['app_platform']}" target="_blank">
              <div class="chart" id="${key}" app="${item['app_name']}" platform="${item['app_platform']}">
                  <img src="/static/chart/${item['id']}.png" width="300" height="300">
              </div>
              </a>
            </li>
            % endfor
          </ul>
          % else:
          <i class="icon-exclamation-sign"></i> 没有找到图表
          % endif
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/monitor.js"></script>



</%block>