<%inherit file='base.html'/>
<%block name='header'>
    <script type="text/javascript" src="/static/js/pages/project_add.js"></script>
</%block>
<%block name='body'>
<div class="row-fluid">
    <div class="span10 offset1">
        <div class="well">
            请在这里填写这个项目的所有时间结点，包括Backlog，prd时间，切片时间，api伪接口，api正式交付时间，dailybuild时间，rcbuild时间，release时间。
        </div>
    </div>
    <div class="span5 offset1" style="border-right:1px solid gray">
        <form class="form-horizontal" method="post" action="/project/add">

            <div class="control-group">
                <label class="control-label">项目名称:</label>
                <div class="controls">
                    <input type="text" placeholder="填写项目名称" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">所属项目集:</label>
                <div class="controls">
                    <input type="text" placeholder="填写项目所属项目集" />
                </div>
            </div>    

            <div class="control-group">
                <span class="control-label J_selectMileStone">
                    <label>BackLog时间:</label>
                </span>
                <div class="controls J_timeRow">
                    <input type="text" class="J_pickTime" name="backlog_time" placeholder="填写项目BackLog时间" />
                    <span class="J_operations hide">
                        <a class="icon-plus-sign J_addTime" href="javascript:void(0);"></a>
                        <a class="icon-minus-sign J_delTime" href="javascript:void(0);"></a>
                    </span>
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls">
                    <input type="button" id="J_submitButton" value="提交" class="btn btn-meduim"/>
                </div>
            </div>

        </form>
    </div>

    <div id="J_addProjectTimeTemplate" class="hide">
        <div class="control-group">
            <label class="control-label">___item___时间:</label>
            <div class="controls J_timeRow">
                <input type="text" class="J_pickTime" name="___name___" placeholder="填写项目___item___时间" />
                <span class="J_operations hide">
                    <a class="icon-plus-sign J_addTime" href="javascript:void(0);"></a>
                    <a class="icon-minus-sign J_delTime" href="javascript:void(0);"></a>
                </span>
            </div>
        </div>
    </div>

    <div id="J_selectorTemplate">
        <select name="_" class="control-label">
            <option value="1">BackLog</option>
            <option value="2">PRD交付</option>
            <option value="3">切片时间</option>
            <option value="4">api伪接口</option>
            <option value="6">api正式交付时间</option>
            <option value="7">DailyBuild时间</option>
            <option value="8">RC build时间</option>
            <option value="9">release时间</option>
        </select>
    </div>

    <div class="span3">
        <div>
            <h4>关于项目</h4>
            <p>在这里填写完项目的相关属性后，我们就可以很好的监控项目的进度，如果每天项目未按照制定进度的话，项目会自动变红，提示延期。</p>
        </div>
    </div>
</div>
</%block>
