<%inherit file='base.html'/>
<%block name='header'>
    <script type="text/javascript" src="/static/js/pages/project_add.js"></script>
</%block>
<%block name='body'>
<div class="row-fluid">
    <div class="span10 offset1">
        <div class="well">
            <p>请在这里填写这个项目的所有时间结点，包括Backlog，prd时间，切片时间，api伪接口，api正式交付时间，dailybuild时间，rcbuild时间，release时间。</p>
            <p>点击<font color="pink">粉色标题</font>选择事件。</p>
        </div>
    </div>
    <div class="span5 offset1" style="border-right:1px solid gray">
        <form class="form-horizontal" method="post" action="/project/add">

            <div class="control-group">
                <label class="control-label">项目名称:</label>
                <div class="controls">
                    <input type="text" class="J_formData" data-type="projectName" placeholder="填写项目名称" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">版本号:</label>
                <div class="controls">
                    <input type="text" class="J_formData" data-type="version" placeholder="版本号(将作为分支名的一部分)" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">PMT的ID:</label>
                <div class="controls">
                    <input type="text" class="J_formData" data-type="pmtId" placeholder="PMT的ID"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">所属项目集:</label>
                <div class="controls">
                    <select class="J_formData" data-type="appId">
                        % for item in data['appList']:
                        <option value="${item['id']}">${item['appName']}</option>
                        % endfor
                    </select>
                </div>
            </div>    

            <%include file='components/milestoneTemplate.html'/>
            
            <div class="control-group">
                <div class="controls">
                    <input type="checkbox" id="J_openXcode">初始化完成后打开项目</input>
                    <input type="button" id="J_submitButton" value="提交" class="btn btn-meduim"/>
                </div>
            </div>
        </form>
    </div>

    <div id="J_selectorTemplate" class="hide">
    <%include file='components/selectorTemplate.html'/>
    </div>

    <div id="J_milestoneTemplate" class="hide">
    <%include file='components/milestoneTemplate.html'/>
    </div>

    <div class="span3">
        <div>
            <h4>关于项目</h4>
            <p>在这里填写完项目的相关属性后，我们就可以很好的监控项目的进度，如果每天项目未按照制定进度的话，项目会自动变红，提示延期。</p>
        </div>
    </div>
</div>
</%block>
