<%inherit file='base.html'/>
<%block name="header">
</%block>
<%block name='body'>
    <div class='container'>
    <%include file='/components/reportSelect.html'/>
    <table class='table table-bordered'>
    <%  
    color = "#F7F7F0"
    color2 = "#cde"
    color3 = "#FDE9D9"
    color4 = "#e7ffff"
    %>

        <tr bgcolor="${color}">
            <td rowspan="2">PMTID</td>
            <td rowspan="2">项目名称</td>
            <td rowspan="2" width="80px">工程结束</td>
            <td rowspan="2" width="80px">开发</td>
            <td rowspan="2" width="80px">测试</td>
            <td colspan="${data['colspan']}">bug产生模块(APP)</td>
        </tr>
        <tr bgcolor="${color}">
            <td>总数</td>
            % for id in data['th']:
                <td>${data['th'][id]['name']}</td>
            % endfor
        </tr>
        % for index in data['project_bug_component']:
        <%  
        from model.GlobalFunc import get_pmt_url
        from model.GlobalFunc import report_html
        project = data['project_bug_component'][index]['project']
        component = data['project_bug_component'][index]['component']
        pmt_url = get_pmt_url(project['pmt_id'])
        %>
        <tr>
                <td><a href="${pmt_url}" target="_blank">${project['pmt_id']}</a></td>
                <td>${project['name']}<a class="label label-info tTip"  rel="popover" tt="${project['created']}">注</a></td>
                <td>${project['endtime']}</td>
                <td>${project['developer']}</td>
                <td>${project['qa']}</td>
                <td>${report_html(data['project_bug_component'][index]['total'],'total',project['pmt_id'],'component',True,0,0)}</td>
                % for id in data['project_bug_component'][index]['component']:
                    <td>
                    % if data['project_bug_component'][index]['component'][id]['count'] != 0 :
                         ${report_html(component[id],component[id]['name'],project['pmt_id'],'component',True,0,0)}
                    % endif
                    </td>
                % endfor
            </tr>
        % endfor
    </table>
    </div>
<script>$(document).ready(function(){
    $('a.tTip').tinyTips();
}
);</script>
<link href="/static/js/plugins/tinytip/tinyTips.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/plugins/tinytip/jquery.tinyTips.js"></script>
</%block>
