<%inherit file='base.html'/>
<%block name="header">
</%block>
<%block name='body'>
<div class='container'>
    <%include file='/components/reportSelect.html'/>
    <% title ="计算公式"%>
    <table class='table table-bordered'>
    <tr>
        <td rowspan="2">PMTID</td>
        <td rowspan="2">项目名称</td>
        <td rowspan="2" width="100px">工程结束</td>
        <td rowspan="2" width="100px">开发</td>
        <td colspan="3">bug工时比</td>
        <td colspan="2">bug解决率</td>
        <td colspan="3">bug失修率</td>
        <td colspan="2">P1-P3bug修复周期</td>
        <td colspan="2">dailybuild bug遗留</td>
    </tr>
    <tr>
        <td>bug数</td>
        <td>工时（天）</td>
        <td>
            <a class="tTip" tt="bug数/总工时（天）">bug工时比</a>
        </td>
        <td>未close数</td>
        <td>
            <a class="tTip" tt="1-未close/bug总数">bug解决率</a>
        </td>
        <td>reopen数</td>
        <td>reject数</td>
        <td>
            <a class="tTip" tt="(reopen+reject)/bug总数">bug失修率</a>
        </td>
        <td>修复总时长</td>
        <td>
            <a class="tTip" tt="bug open到最后一次verify时间总和 / bug数">bug修复周期</a>
        </td>
        <td>dailybuild带入rc</td>
        <td>
            <a class="tTip" tt="dailybuild带入rc bug数/rc bug总数">占比</a>
        </td>
    </tr>

    % for pmt_id in data['data']:
    <%
    project = data['data'][pmt_id]['project']
    count = data['data'][pmt_id]['count']
    bug = data['data'][pmt_id]['count_s']
    from model.GlobalFunc import get_pmt_url
    from model.GlobalFunc import report_html
    pmt_url = get_pmt_url(project['pmt_id'])
    %>
    <tr>
        <td><a href="${pmt_url}" target="_blank">${project['pmt_id']}</a></td>
        <td>${project['name']}</td>
        <td>${project['endtime']}</td>
        <td>${report_html(bug,'chinese_name',project['pmt_id'],'developer',False,1,0)}</td>
        <td>${report_html(bug,'total',project['pmt_id'],'developer',True,100,0)}</td>
        <td>${report_html(bug,'workload',project['pmt_id'],'developer',False,1,0)}</td>
        <td>${report_html(bug,'workload_div',project['pmt_id'],'developer',False,1,0)}</td>
        <td>${report_html(bug,'unclose',project['pmt_id'],'developer',True,1,0)}</td>
        <td>${report_html(bug,'close_div',project['pmt_id'],'developer',False,1,0)}</td>
        <td>${report_html(bug,'reopen',project['pmt_id'],'developer',True,1,0)}</td>
        <td>${report_html(bug,'reject',project['pmt_id'],'developer',True,1,0)}</td>
        <td>${report_html(bug,'lose_repair_div',project['pmt_id'],'developer',False,1,0)}</td>
        <td>${report_html(bug,'repair_time',project['pmt_id'],'developer',False,1,0)}</td>
        <td>${report_html(bug,'repair_time_div',project['pmt_id'],'developer',False,1,0)}</td>
        <td>${report_html(bug,'daily_to_rc',project['pmt_id'],'developer',True,1,0)}</td>
        <td>${report_html(bug,'daily_to_rc_div',project['pmt_id'],'developer',False,1,0)}</td>
    </tr>
    % endfor
    </table>
</div>
<script type="text/javascript" src="/static/js/pages/report_dev.js"></script>
<link href="/static/js/plugins/tinytip/tinyTips.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/plugins/tinytip/jquery.tinyTips.js"></script>
</%block>
