<%inherit file='base.html'/>
<%block name="header">
</%block>
<%block name='body'>
    <div class='container'>
    <%include file='/components/reportSelect.html'/>
    <table class='table table-bordered'>
        <tr>
            <td rowspan="2">PMTID</td>
            <td rowspan="2">项目名称</td>
            <td rowspan="2" width="80px">工程结束</td>
            <td rowspan="2" width="80px">测试</td>
            <td colspan="3">bug工时比</td>
            <td colspan="4">bug漏测（真机）</td>
            <td colspan="3">dailybuild、rc bug占比</td>
        </tr>
        <tr>
            <td>bug数</td>
            <td>工时（天）</td>
            <td>bug工时比</td>
            <td>P1</td>
            <td>P2</td>
            <td>P3</td>
            <td>P4</td>
            <td>dailybuild</td>
            <td>rc+真机+线上</td>
            <td>占比</td>

        </tr>
            
    % for pmt_id in data['data']:
    <%
    project = data['data'][pmt_id]['project']
    count = data['data'][pmt_id]['count']
    %>
    <tr>
        <td>${project['pmt_id']}</td>
        <td>${project['name']}</td>
        <td>${project['endtime']}</td>
        <td>${count['chinese_name']}</td>
        <td>${count['total']}</td>
        <td>${count['workload']}</td>
        <td>${count['workload_div']}</td>
        <td>${count['p1']}</td>
        <td>${count['p2']}</td>
        <td>${count['p3']}</td>
        <td>${count['p4']}</td>
        <td>${count['dailybuild']}</td>
        <td>${count['no_dailybuild']}</td>
        <td>${count['dr_div']}</td>
    </tr>
    % endfor
    </table>
    <div>
</%block>
