<%inherit file='base.html'/>
<%block name="header">
</%block>
<%block name='body'>
    <div class='container'>
    <%include file='/components/reportSelect.html'/>
    <table class='table table-bordered'>
        <tr>
            <td rowspan="2">PMTID</td>
            <td rowspan="2">项目名称</td>
            <td rowspan="2" width="80px">工程结束</td>
            <td rowspan="2" width="80px">开发</td>
            <td rowspan="2" width="80px">测试</td>
            <td colspan="${data['colspan']}">bug产生模块(APP)</td>
        </tr>
        <tr>
            <td>总数</td>
            % for id in data['th']:
                <td>${data['th'][id]['name']}</td>
            % endfor
        </tr>
        % for pmt_id in data['project_bug_component']:
            <tr>
                <td>${data['project_bug_component'][pmt_id]['project']['pmt_id']}</td>
                <td>${data['project_bug_component'][pmt_id]['project']['name']}</td>
                <td>${data['project_bug_component'][pmt_id]['project']['endtime']}</td>
                <td>${data['project_bug_component'][pmt_id]['project']['dev']}</td>
                <td>${data['project_bug_component'][pmt_id]['project']['qa']}</td>
                <td>${data['project_bug_component'][pmt_id]['total']}</td>
                % for id in data['project_bug_component'][pmt_id]['component']:
                    <td>
                    % if data['project_bug_component'][pmt_id]['component'][id] != 0 :
                        ${data['project_bug_component'][pmt_id]['component'][id]}
                    % endif
                    </td>
                % endfor
            </tr>
        % endfor
    </table>
    <div>
</%block>
