<%inherit file='base.html'/>
<%block name="header">
</%block>

<%block name='body'>
    <div class="container">
    <table class="table table-bordered" style="TABLE-LAYOUT: fixed;; WORD-BREAK: break-all;;border-collapse: collapse">
        <tr>
            <td>id</td>
            <td>Ticket</td>
            <td width="30%">Summary</td>
            <td>Owner</td>
            <td>Reporter</td>
            <td>Priority</td>
            <td>Component</td>
            <td>Environment</td>
            <td>Created Time</td>
            <td>Status</td>
            <td>Resolution</td>
            <td>Reason</td>
        </tr>
    <%
        i=0
    %>
    % for item in data['tickets']:
    <tr>
    <%
    i = i+1
    from model.GlobalFunc import get_ticket_url
    ticket_url = get_ticket_url(item['ticket_id'])
    %>
        <td>${i}</td>
        <td><a href="${ticket_url}" target="_blank">${item['ticket_id']}</a></td>
        <td><a href="${ticket_url}" target="_blank" nowrap>${item['summary']}</a></td>
        <td>${item['owner']}</td>
        <td>${item['reporter']}</td>
        <td>${item['priority']}</td>
        <td>${item['component']}</td>
        <td>${item['environment']}</td>
        <td>${item['created_at']}</td>
        <td>${item['status']}</td>
        <td>${item['resolution']}</td>
        <td>${item['reason']}</td>
    </tr>
    % endfor
    </table>
    </div>
</%block>
