<%inherit file='base.html'/>
<%block name='header'>
    <script type="text/javascript" src="/static/js/pages/project.js"></script>
</%block>
<%block name='body'>

<div class='container'>
    <%include file='/components/reportSelect.html'/>
    <table class="table table-bordered">
    <%
    color = "#F7F7F0"
    color2 = "#cde"
    color3 = "#FDE9D9"
    color4 = "#e7ffff"
    %>
    <tr bgcolor="${color}">
            <td rowspan="2" bgcolor="${color}">PMTID</td>
            <td rowspan="2" bgcolor="${color}">项目名称</td>
            <td rowspan="2" width="80px" bgcolor="${color}">工程结束</td>
            <td rowspan="2" width="80px" bgcolor="${color}">开发</td>
            <td rowspan="2" width="80px" bgcolor="${color}">测试</td>
            <td colspan="${data['colspan']}">bug原因(APP)</td>
        </tr>
        <tr bgcolor="${color}">
            <td>总数</td>
            % for id in data['th'] :
                <td>${data['th'][id]['name']}</td>
            % endfor
        </tr>
        % for index in data['project_bug_reason']:
        <%  
        from model.GlobalFunc import get_pmt_url
        from model.GlobalFunc import report_html
        project = data['project_bug_reason'][index]['project']
        pmt_url = get_pmt_url(project['pmt_id'])
        reason = data['project_bug_reason'][index]['reason']
        %>
            <tr>
                <td><a href="${pmt_url}" target="_blank">${project['pmt_id']}</a></td>
                <td><a class="label label-important tTip" href="#" rel="popover" tt="${project['created']}">${project['name']}</a></td>
                <td>${project['endtime']}</td>
                <td>${project['developer']}</td>
                <td>${project['qa']}</td>
                <td>${report_html(data['project_bug_reason'][index]['total'],'total',project['pmt_id'],'reason',True,0,0)}</td>
                % for id in reason:
                    <td>
                    % if reason[id]['count'] !=0 : 
                        ${report_html(reason[id],reason[id]['name'],project['pmt_id'],'reason',True,0,0)}
                    % endif
                    </td>
                % endfor
            </tr>
        % endfor

    </table>
</div>
<script>$(document).ready(function(){
    $('a.tTip').tinyTips();
}
);</script>
<link href="/static/js/plugins/tinytip/tinyTips.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/plugins/tinytip/jquery.tinyTips.js"></script>
</%block>
