<%inherit file='base.html'/>
<%block name='header'>
</%block>
<%block name='body'>
    <div class='container'>

     <form id='pro' class="hero-unit span5">
        pmt_id:&nbsp<input id='pmt_id_pro' name="pmt_id_pro" type="text" class="input-medium" value="${data['pmt_id_pro']}"><br>
        自测通过率:&nbsp<input id="rate" name="rate" type="text" class="input-medium" value="${data['rate']}"><br>
        是否自动更新:&nbsp

         <select id="is_updated" name="is_updated" class="span2">
            <option value="1">是</option>
            <option value="0">否</option>
         </select>
         <br>
        <input name="update" type="hidden" value="2">
        <button id="project" class="btn btn-info" type="button">更新项目信息</button><br>
          % if data['update']!='' and int(data['update'])==2:
            ${data['info']}
          % endif
    </form>

    <br>
    <form class="hero-unit span5">
        pmt_id:&nbsp<input name="pmt_id_job" type="text" class="input-medium" value="${data['pmt_id_job']}"><br>
        <input name="update" type="hidden" value="1">
        <button id="job" class="btn btn-info" type="sumbit">更新统计信息</button><br>
        % if data['update']!='' and int(data['update'])==1:
        ${data['info']}
    % endif
    </form>

    <br>
    <div class="hero-unit span5">
    更新所有项目：<a href="/report/job" target="_blank"><button  class="btn btn-danger" type="button">Job</button></a><br>
    </div>
    </div>
<script>$(document).ready(function(){
      $('#project').bind('click',function(){
          if($('#pmt_id_pro').val()==''){
              alert('请输入pmt_id');
          }else if($('#rate').val()==''){
              alert('请输入自测通过率');
          }else{
              $('#pro').submit();
          }
      });
    $('#is_updated').val("${data['is_updated']}");
});</script>

</%block>

