<%inherit file='base.html'/>
<%block name='header'>
    <script type="text/javascript" src="/static/js/pages/project.js"></script>
</%block>
<%block name='body'>
    <div class='container'>
    <%include file='/components/reportSelect.html'/>

    <table class="table">
        <tbody>
        <tr>
            <td rowspan="2" align="center" bgcolor="#EAF1DD">PMTID</td>
            <td rowspan="2" align="center" bgcolor="#EAF1DD">项目名称</td>
            <td rowspan="2" align="center" bgcolor="#EAF1DD">工程结束</td>
            <td rowspan="2" align="center" bgcolor="#EAF1DD">开发</td>
            <td rowspan="2" bgcolor="#EAF1DD">测试</td>
            <td rowspan="2" bgcolor="#EAF1DD">自测通过率</td>
            <td colspan="4" align="center" bgcolor="#c7dae2">Bug数（项目bug）</td>
            <td colspan="5" align="center" bgcolor="#FDE9D9">bug等级（APP&项目bug）</td>
            <td colspan="4" align="center" bgcolor="#C5E2AF">测试阶段（APP）</td>
        </tr>
        <tr>
            <td align="center" bgcolor="#c7dae2">总数</td>
            <td align="center" bgcolor="#c7dae2">APP</td>
            <td align="center" bgcolor="#c7dae2">API</td>
            <td align="center" bgcolor="#c7dae2">产品</td>
            <td align="center" bgcolor="#FDE9D9">p1</td>
            <td align="center" bgcolor="#FDE9D9">p2</td>
            <td align="center" bgcolor="#FDE9D9">p3</td>
            <td align="center" bgcolor="#FDE9D9">p4</td>
            <td align="center" bgcolor="#FDE9D9">p5</td>
            <td align="center" bgcolor="#C5E2AF">test</td>
            <td align="center" bgcolor="#C5E2AF">dev</td>
            <td align="center" bgcolor="#C5E2AF"><font color="red">pre</font></td>
            <td align="center" bgcolor="#C5E2AF">prod</td>
        </tr>
        % for pmt_id in data['project_bug']:
            <%
            item = data['project_bug'][pmt_id]
            from model.GlobalFunc import get_pmt_url
            pmt_url = get_pmt_url(item['pmt_id'])
            %>
            <tr>
            <td><a href="${pmt_url}" target="_blank">${item['pmt_id']}</a></td>
            <td>${item['name']}</td>
            <td>${item['endtime']}</td>
            <td>${item['developer']}</td>
            <td>${item['qa']}</td>
            <td>${item['rate']}</td>
            <td>${item['total']}</td>
            <td>${item['app']}</td>
            <td>${item['api']}</td>
            <td>${item['product']}</td>
            <td>${item['p1']}</td>
            <td>${item['p2']}</td>
            <td>${item['p3']}</td>
            <td>${item['p4']}</td>
            <td>${item['p5']}</td>
            <td>${item['test']}</td>
            <td>${item['dev']}</td>
            <td>${item['prerelease']}</td>
            <td>${item['production']}</td>
            </tr>
    % endfor
    </tbody>
</table>
</div>
</%block>
