<%inherit file='base.html'/>
<%block name="header">
</%block>
<%block name='body'>
<div class='container'>
    <%include file='/components/reportSelect.html'/>
    <% title ="计算公式"%>
    <table class='table table-bordered'>
    <tr>
        <td rowspan="2">PMTID</td>
        <td rowspan="2">项目名称</td>
        <td rowspan="2" width="80px">工程结束</td>
        <td rowspan="2" width="80px">开发</td>
        <td colspan="3">bug工时比</td>
        <td colspan="2">bug解决率</td>
        <td colspan="3">bug失修率</td>
        <td colspan="2">P1-P3bug修复周期</td>
        <td colspan="2">dailybuild bug遗留</td>
    </tr>
    <tr>
        <td>bug数</td>
        <td>工时（天）</td>
        <td>
            <a id="workload_div" href="#" class="label label-important tTip" rel="popover" 
                        tt="bug数/总工时（天）" data-original-title="${title}">bug工时比
            </a>
        </td>
        <td>close数</td>
        <td>
            <a id="close_div" href="#" class="label label-important tTip" rel="popover" 
                        tt="close/bug总数" data-original-title="${title}">bug解决率
            </a>
        </td>
        <td>reopen数</td>
        <td>reject数</td>
        <td>
            <a id="lose_repair_div" href="#" class="label label-important tTip" rel="popover" 
                        tt="(reopen+reject)/bug总数" data-original-title="${title}">bug失修率
            </a>
        </td>
        <td>修复总时长</td>
        <td>
            <a id="repair_time_div" href="#" class="label label-important tTip" rel="popover" 
                        tt="bug open到最后一次verify时间总和 / bug数" data-original-title="${title}">bug修复周期
            </a>
        </td>
        <td>dailybuild带入rc</td>
        <td>
            <a id="daily_to_rc_div" href="#" class="label label-important tTip" rel="popover" 
                                tt="dailybuild带入rc bug数/rc bug总数" data-original-title="${title}">占比
            </a>
        </td>
    </tr>

    % for pmt_id in data['data']:
    <%
    project = data['data'][pmt_id]['project']
    count = data['data'][pmt_id]['count']
    from model.GlobalFunc import get_pmt_url
    pmt_url = get_pmt_url(project['pmt_id'])
    %>
    <tr>
        <td><a href="${pmt_url}" target="_blank">${project['pmt_id']}</a></td>
        <td>${project['name']}</td>
        <td>${project['endtime']}</td>
        <td>${count['chinese_name']}</td>
        <td>${count['total']}</td>
        <td>${count['workload']}</td>
        <td>${count['workload_div']}</td>
        <td>${count['close']}</td>
        <td>${count['close_div']}</td>
        <td>${count['reopen']}</td>
        <td>${count['reject']}</td>
        <td>${count['lose_repair_div']}</td>
        <td>${count['repair_time']}</td>
        <td>${count['repair_time_div']}</td>
        <td>${count['daily_to_rc']}</td>
        <td>${count['daily_to_rc_div']}</td>
    </tr>
    % endfor
    </table>
</div>
<script type="text/javascript" src="/static/js/pages/report_dev.js"></script>
<link href="/static/js/plugins/tinytip/tinyTips.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/plugins/tinytip/jquery.tinyTips.js"></script>
</%block>
