<%inherit file='base.html'/>

<%block name="header">
    <script type="text/javascript" src="/static/js/pages/selectVersions.js"></script>
</%block>

<%block name="body">

<p>
    <p>usage:</p>
    <span class="badge badge-success">当前选中的版本</span>
    <span class="badge badge-info">项目开始时使用的版本</span>
    <span class="badge badge-important">线下版本</span>
</p>

<table cellpadding="20">
    <tr>
        <th>依赖包名字</th>
        <th>依赖包版本</th>
    </tr>

    <tr>
        <td>RTNetwork</td>
        <td>
            <a data-repo-id="1" data-repo-name="RTNetwork" data-sha1="sha1" class="J_versionBadge badge">1</a>
            <a data-repo-id="1" data-repo-name="RTNetwork" data-sha1="sha2" class="J_versionBadge badge badge-important">2</a>
            <a data-repo-id="1" data-repo-name="RTNetwork" data-sha1="sha3" class="J_versionBadge badge">3</a>
            <a data-repo-id="1" data-repo-name="RTNetwork" data-sha1="sha4" class="J_versionBadge badge badge-info">4</a>
            <a data-repo-id="1" data-repo-name="RTNetwork" data-sha1="sha5" class="J_versionBadge badge badge-success">5</a>
            <a data-repo-id="1" data-repo-name="RTNetwork" data-sha1="sha6" class="J_versionBadge badge">6</a>
        </td>
    </tr>

    <tr>
        <td>RTApiProxy</td>
        <td>
            <a data-repo-id="2" data-repo-name="RTApiProxy" data-sha1="sha1" class="J_versionBadge badge">1</a>
            <a data-repo-id="2" data-repo-name="RTApiProxy" data-sha1="sha2" class="J_versionBadge badge">2</a>
            <a data-repo-id="2" data-repo-name="RTApiProxy" data-sha1="sha3" class="J_versionBadge badge badge-important">3</a>
            <a data-repo-id="2" data-repo-name="RTApiProxy" data-sha1="sha4" class="J_versionBadge badge">4</a>
            <a data-repo-id="2" data-repo-name="RTApiProxy" data-sha1="sha5" class="J_versionBadge badge">5</a>
            <a data-repo-id="2" data-repo-name="RTApiProxy" data-sha1="sha6" class="J_versionBadge badge badge-info">6</a>
            <a data-repo-id="2" data-repo-name="RTApiProxy" data-sha1="sha7" class="J_versionBadge badge badge-success">7</a>
            <a data-repo-id="2" data-repo-name="RTApiProxy" data-sha1="sha8" class="J_versionBadge badge">8</a>
        </td>
    </tr>

</table>

<button id="J_packageButton">打包</button>

</%block>
