<%inherit file='base.html'/>

<%block name="header">
    <!-- colorbox -->
    <script type="text/javascript" src="/static/js/plugins/colorbox/jquery.colorbox-min.js"></script>
    <link href="/static/js/plugins/colorbox/colorbox.css" rel="stylesheet">

    <!-- bootstrap -->
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>

    <!-- timeline -->
    <link href="static/timeline/css/timeline.css" rel="stylesheet">
    <script type="text/javascript" src="static/js/pages/timeline.js"></script>
</%block>

<%block name="body">
<div id="J_timeline"></div>
<br>
<style type="text/css">
    ol, li {list-style:none;}
    .timeline li:after {clear:both;content:" ";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
    .timeline li {position:relative;margin-bottom:10px;padding-left:5px;border-left:1px solid #ccc;zoom:1;}
    .timeline .line {display:block;position:absolute;top:50%;width:20px;height:0;border-top:1px solid #ccc;}
    .timeline .detail {float:left;display:inline;padding:5px 10px;margin-left:25px;line-height:1.6em;border:1px solid #ccc;box-shadow:#dbdbdb 1px 2px 2px;border-radius:3px;}
    .selfcontent {float:left;display:inline;padding:5px 10px;width:400px;height:400px;margin:0px 0 0 20px;line-height:1.6em;border:1px solid #ccc;box-shadow:#dbdbdb 1px 2px 2px;border-radius:3px;}

    .left {float:left;}
</style>
<br>
<div>
    <div class="left">
        <ol class="timeline" id="J_timeLine">
            <li>
            <i class="line"></i>
            <div class="detail J_content" data-id="1">
                我是时间轴123456678889
            </div>
            </li>

            <li>
            <i class="line"></i>
            <div class="detail J_content" data-id="2">
                我是时间轴2<br/>
                我是时间轴2
            </div>
            </li>
        </ol>
    </div>

    <div class="left selfcontent">
        <button data-id="" id="J_deleteButton">删除</button>
        <div class="" id="J_detail">asdfasdfsa</div>
    </div>
</div>
<div style="clear:both;"></div>

<button id="J_addEventButton" href="#J_template_add">新增</button>

<%include file='components/addEventTemplate.html'/>
<%include file='components/eventTemplate.html'/>

</%block>
