<style type="text/css">
    ol, li {list-style:none;}
    .timeline li:after {clear:both;content:" ";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
    .timeline li {position:relative;margin-bottom:10px;padding-left:5px;border-left:1px solid #ccc;zoom:1;}
    .timeline .line {display:block;position:absolute;top:50%;width:20px;height:0;border-top:1px solid #ccc;}
    .timeline .detail {float:left;display:inline;padding:5px 10px;margin-left:25px;line-height:1.6em;border:1px solid #ccc;box-shadow:#dbdbdb 1px 2px 2px;border-radius:3px;}
    .selfcontent {float:left;display:inline;padding:5px 10px;width:400px;height:400px;margin:0px 0 0 20px;line-height:1.6em;border:1px solid #ccc;box-shadow:#dbdbdb 1px 2px 2px;border-radius:3px;}
    .left {float:left;}
</style>

<div id="J_template_event" class="hidden">
    <li>
    <i class="line"></i>
    <div class="detail J_content" data-id="___id___">
        ___content___
    </div>
    </li>
</div>
