<div class="control-group J_mileStoneRow">
    <span class="control-label J_selectMileStone">
        <label><font color="pink">BackLog:</font></label>
    </span>
    <div class="controls J_timeRow">
        <input type="text" class="J_pickTime J_formData" name="backlog_time" placeholder="填写完成时间" data-type="1"/>
        <span class="J_operations hide">
            <span class="icon-plus-3 J_addTime" href="javascript:void(0);"></span>
            <span class="icon-minus-3 J_delTime" href="javascript:void(0);"></span>
        </span>
    </div>
</div>
