<script src="/static/js/jquery.js" type="text/javascript"></script> 
<script type="text/javascript"> 
$(document).ready(function(){

    $('select#appName').val("${data['params']['appName']}");
    $('select#category').val("${data['params']['category']}");
    $('select#version').val("${data['params']['version']}");


    $('select#appName').attr("selected","selected");

    $("#appName").change(function(){ 
        $("#appName option").each(function(i,o){ 
            if($(this).attr("selected")) 
            { 
                $(".version").hide(); 
                $(".version").removeAttr("name");
                $(".version").removeAttr("id");
                $(".version").eq(i).show();
                $(".version").eq(i).attr("name","version");
                $(".version").eq(i).attr("id","version");
            } 
        }); 
    }); 
    $("#appName").change();


}); 
</script>
<form method ="GET">
应用:
    <select id="appName" name="appName">
    % for i in data['appName']:
        <option value="${data['appName'][i]}">${data['appName'][i]}</option>
    % endfor
    </select>
    &nbsp&nbsp&nbsp&nbsp&nbsp
平台:
    <select id="category" name="category">
        <option></option>
        <option value="1">iOS</option>
        <option value="2">android</option>
    </select>
    &nbsp&nbsp&nbsp&nbsp&nbsp
版本:
    % for i in data['version']:
        <select class="version"id="version" name="version">
        <option></option>
        % for j in data['version'][i]:
            <option>${data['version'][i][j]}</option>
        % endfor
    </select>
    % endfor
     <input type="submit" value="查询" /></td>
</form>
